/* GENERAL */

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #1f2937;
}

.wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

h3 {
  font-weight: 900;
  font-size: 24px;
  color: #f9faf8;
}

/* HEADER */

header {
  height: 60px;
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  gap: 16px;
}

header span {
  margin-right: auto;
  font-weight: 900;
  font-size: 24px;
  color: #f9faf8;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

/* MAIN */

/* SECTION 1 */

.section1 {
  background-color: #1f2937;
  padding: 60px 0;
}

.hero {
  display: flex;
  gap: 30px;
}

.hero > div {
  flex: 1;
}

.heroContent {
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heroContent button {
  align-self: flex-start;
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 8px 32px;
  border-radius: 8px;
}

.image {
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION 2 */

.section2Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0 60px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0;
  gap: 8px;

  div {
    height: 150px;
    width: 150px;
    border: #3882f6 4px solid;
    border-radius: 8px;
  }

  p {
    text-align: center;
    font-size: 14px;
  }
}

/* SECTION 3 */

.section3 {
  background-color: #e5e7eb;
}

.section3Content {
  padding: 100px;
  display: flex;
  flex-direction: column;

  q {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
  }

  p {
    align-self: flex-end;
    font-weight: bold;
  }
}
/* SECTION 4 */

.section4Content {
  background-color: #3882f6;
  border-radius: 8px;
  margin: 100px 0;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e5e7eb;
}

.section4Content button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  outline: none;
  padding: 8px 32px;
  border-radius: 8px;
  border: #e5e7eb 2px solid;
}

/* FOOTER */
footer {
  background-color: #1f2937;
  height: 80px;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}
